body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    text-align: center;
    padding: 50px;
  }
  .header {
    background-color: #81d4fa;
    padding: 20px;
  }
  .logo {
    width: 750px;
    height: 500px;
  }
  .content {
    margin-top: 20px;
  }
  .about {
    margin: 20px;
    padding: 20px;
    background-color: #f3f3f3;
  } 
  .cornyJokeText {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bolder;
    /* color: dimgrey; */
  }
.hidden {
  display: none;
}



  